
/* bootstrap kullandığımız için şimdilik css kullanmıyoruz */

/* .App {
  text-align: center;
  background-color: pink;
  height: 100vh;
  flex: 1;
  
}

.header {
  padding-top: 50px;
  text-align: left;
  margin-left: 100px;
  
}

body {
  margin: 0;
} Remove body margins */